<div class="body">
  <div class= "post_form"><%= render 'public/post_items/post_form', post_item: @post_item %></div>
  <div class="container">
    <h3 class="h3"><%= @customer.name %>さんのいいね一覧</h3>
    <!--投稿一覧を表示するeach文です-->
    <% @favorites.each do |favorite| %>
      <div class="box">
        <div><span>商品名：<%= favorite.post_item.title %></span>　<span><%= link_to favorite.post_item.customer.name, customer_path(favorite.post_item.customer_id) %></span></div>
        <%= link_to post_item_path(favorite.post_item.id) do %>
          <%= attachment_image_tag favorite.post_item, :image, :fill, 250, 150 %>
        <% end %>
        <p>衝動ポイント<br><%= (favorite.post_item.caption).truncate(29) %></p>
        <p>価格：<%= favorite.post_item.price %>円</p>
        <p><%= link_to "衝動リンク", favorite.post_item.url %></p>
        <p>
          <%= link_to "#{favorite.post_item.post_comments.count} コメント", post_item_path(favorite.post_item.id) %>
          <%= favorite.post_item.favorites.count %> いいね
        </p>
        <div class="impressions">
          <span>閲覧数：<%=  favorite.post_item.impressionist_count %></span>
          <% if customer_signed_in? %>
            <% if favorite.post_item.customer_id == current_customer.id %>
              <span><%= link_to "削除する", post_item_path(favorite.post_item), method: :delete %></span>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>