<body>
  <div class= "post-form"><%= render 'public/post_items/post_form', post_item: @post_item %></div><!--投稿フォームの部分テンプレートです-->
  <div class="post-items">
    <div class="post-form__flash"><%= flash[:notice_login] %></div>
    <span class="post-items__header"><h3>投稿一覧</h3></span>
    <div class="scroll-list jscroll"><!--無限スクロールのクラスです-->
      <div class="container-top">
        <!--投稿一覧を表示するeach文です-->
        <% @post_items.each do |post_item| %>
          <div class="box">
            <div><strong><%= post_item.title.truncate(11) %></strong><span class="box__customer-name"><%= link_to post_item.customer.name.truncate(6), customer_path(post_item.customer_id), class: "box__link" %></span></div>
            <%= link_to post_item_path(post_item.id) do %>
              <%= attachment_image_tag post_item, :image, :fill, 250, 150, fallback: "no_image.jpg", size:'250x150' %>
            <% end %>
            <span class="box__shodo-point">衝動ポイント</span><span class="box__shodo-price">￥<%= post_item.price %>円</span><br>
            <span class="box__shodo-caption"><%= (post_item.caption).truncate(32) %></span><br>
            <br>
            <p>
              <%= link_to "#{post_item.post_comments.count} コメント", post_item_path(post_item.id), class: "box__link" %>
              <%= post_item.favorites.count %> いいね
            </p>
            <div class="impressions">
              <span>閲覧数：<%=  post_item.impressionist_count %></span>
              <% if customer_signed_in? %>
                <% if post_item.customer_id == current_customer.id %>
                  <span><%= link_to "削除する", post_item_path(post_item), method: :delete, class: "btn box__btn-delete--red" %></span>
                <% end %>
              <% end %>
            </div>
            <% if post_item.url.empty? == false %>
              <p><%= link_to "衝動リンク", post_item.url, target: :_blank, rel: "noopener noreferrer", data: { confirm: '外部サイトを開きますか？'}, class: "btn box__btn-shodo--orange" %></p>
            <% end %>
            <% i = 0 %>
            <% @tag_maps.each do |tag_map| %>
              <% if tag_map.post_item_id == post_item.id %>
                <%= link_to tag_map.tag.tag_name, tag_path(tag_map.tag.id), class: "btn box__btn-tag--blue" %>
                <% i += 1 %>
              <% end %>
              <% if i== 4 %>
                <span>…</span>
                <% break %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= paginate @post_items %><!--ページネーション'kaminari'の宣言文です-->
    </div>
  </div>

  <div class="container-side-ranking">
    <%= render 'public/homes/ranking_form' %><!--ランキング一覧(サイドバー)の部分テンプレートです-->
  </div>
</body>
