<h1>衝動詳細</h1>

<p>商品名：<%= @post_item.title %></p>
<%= attachment_image_tag @post_item, :image, :fill, 350, 250 %>
<p>説明：<%= @post_item.caption %></p>
<p>価格：<%= @post_item.price %></p>
<p><%= link_to "衝動リンク", @post_item.url %></p>
<p><%= @post_item.customer.name %></p>
<% if @post_item.customer_id == current_customer.id %>
  <%= link_to "削除する", post_item_path(params[:id]), method: :delete %>
<% end %>

<!--コメントを表示するeach文です-->
<div class="comments">
  <p>コメント件数：<%= @post_item.post_comments.count %></p>
  <% @post_item.post_comments.each do |post_comment| %>
    <%= post_comment.customer.name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
    <% if post_comment.customer == current_customer %>
      <div class="comment-delete">
        <%= link_to "削除", post_item_post_comment_path(post_comment.post_item, post_comment), method: :delete %>
      </div>
    <% end %>
  <% end %>
</div>

<!--コメントの投稿フォームです-->
<div class="new-comment">
  <%= form_with(model:[@post_item, @post_comment], local: true) do |f| %>
    <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>

<!--いいね機能-->
<div class="favorite">
  <% if @post_item.favorited_by?(current_customer) %>
    <p>
      <%= link_to post_item_favorites_path(@post_item), method: :delete do %>
        ♥<%= @post_item.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_item_favorites_path(@post_item), method: :post do %>
        ♡<%= @post_item.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
</div>

<!--閲覧数を表示しています-->
<div class="impressions">
  閲覧数：<%=  @post_item.impressionist_count %>
</div>